:root {
  --main-font:"Open Sans", sans-serif;
  --additional-font:"Raleway", sans-serif;
  --header-color: #FFFFFF;
  --hero-title: #FFFFFF;
  --title-color: #303030;
  --text-color: #555555;
  --services-list: #9DA4BD;
  --contacts-list: #9DA4BD;
  --footer-text: #9DA4BD;
  --slider-undertext: #9DA4BD;
  --main-background: #FFFFFF;
  --section-form: #191C26;
  --section-features-list: #F7F7F7;
  --section-barbers-team: #F7F7F7;
  --deco-line-price: rgba(157, 164, 189, 0.12);
  --dark-theme-price: rgba(157, 164, 189, 0.6);
  --title-white-theme: #FFFFFF;
  --deco-uppertitle-color: #303030;
  --second-btn-color: #303030;
  --quantity-color: #303030;
  --footer-list: #303030;
  --form-deco: #FF6C00;
  --header-second-color: #FF6C00;
  --main-hover-color: #FF6C00;
  --team-position: #FF6C00;
  --quantity-deco-color: #FF6C00;
  --team-position: #FF6C00;
}

/* visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@-webkit-keyframes slide-to-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-to-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes slide-to-ride {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    letter-spacing: 0.3em;
  }
  100% {
    letter-spacing: 0.05em;
  }
}
@keyframes slide-to-ride {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    letter-spacing: 0.3em;
  }
  100% {
    letter-spacing: 0.05em;
  }
}
@-webkit-keyframes slide-to-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slide-to-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6666666667;
  background-color: var(--main-background);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.swiper__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .swiper__container {
    max-width: 767px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .swiper {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .swiper {
    width: 570px;
    height: 680px;
  }
}
@media screen and (min-width: 1200px) {
  .swiper {
    width: 1070px;
    height: 680px;
  }
}

.slider__img {
  display: none;
}

.image-slider {
  padding: 30px 0 70px 0;
}

.swiper-container {
  max-width: 1070px;
  max-height: 680px;
}

.image-slider__img img {
  max-width: 100%;
}

.swiper-button-next {
  margin: 0;
  width: 40px;
  display: block;
  position: relative;
  bottom: 0;
  right: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  left: 90%;
  color: white;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}
@media screen and (max-width: 767px) {
  .swiper-button-next {
    display: none;
  }
}

.swiper-button-next::after {
  content: "";
  position: absolute;
  bottom: 8px;
  -webkit-transform: translateX(-9px);
          transform: translateX(-9px);
  width: 60px;
  height: 2px;
  background-color: white;
}

.swiper-button-prev {
  position: relative;
  margin: 0;
  width: auto;
  display: block;
  margin-right: 64px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  left: 90%;
  color: white;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}
@media screen and (max-width: 767px) {
  .swiper-button-prev {
    display: none;
  }
}

.swiper-button-prev::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 60px;
  height: 2px;
  background-color: white;
}

.s__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 150px;
  z-index: 100;
}
@media screen and (max-width: 767px) {
  .s__box {
    display: none;
  }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 12px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  position: absolute;
  bottom: 0;
  right: 10px;
}
@media screen and (max-width: 767px) {
  .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    display: none;
  }
}

.swiper-pagination-bullet {
  width: 8px;
  height: 3px;
  background-color: white;
  border-radius: 0;
  -webkit-transform: translateX(-20px) translateY(-340px);
          transform: translateX(-20px) translateY(-340px);
  -webkit-transition: 550ms ease-in-out;
  transition: 550ms ease-in-out;
}

.swiper-pagination-bullet-active {
  width: 18px;
}

.slider__text {
  position: absolute;
  z-index: 200;
  display: inline-block;
  pointer-events: none;
}
@media screen and (max-width: 390px) {
  .slider__text {
    bottom: 140px;
    left: 0;
  }
}
@media screen and (min-width: 391px) and (max-width: 767px) {
  .slider__text {
    bottom: 209px;
    left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .slider__text {
    left: 120px;
    bottom: 237px;
  }
}
@media screen and (min-width: 1200px) {
  .slider__text {
    bottom: 208px;
    left: 100px;
  }
}

.slider__uppertitle {
  -webkit-animation: slide-to-bottom 500ms ease-out 200ms 1 both;
          animation: slide-to-bottom 500ms ease-out 200ms 1 both;
}
@media screen and (max-width: 390px) {
  .slider__uppertitle {
    -webkit-animation: none;
            animation: none;
  }
}

.slider__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.1805555556;
  letter-spacing: 0.05em;
  color: var(--hero-title);
  -webkit-animation: slide-to-ride 1000ms ease-in-out 700ms 1 both;
          animation: slide-to-ride 1000ms ease-in-out 700ms 1 both;
}
@media screen and (max-width: 390px) {
  .slider__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    -webkit-animation: none;
            animation: none;
  }
}
@media screen and (min-width: 391px) and (max-width: 767px) {
  .slider__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.1666666667;
    letter-spacing: 0.05em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .slider__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.1666666667;
    letter-spacing: 0.05em;
  }
}

.slider__undertitle {
  margin-top: 20px;
  width: 359px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: var(--slider-undertext);
  -webkit-animation: slide-to-top 400ms ease-out 1600ms 1 both;
          animation: slide-to-top 400ms ease-out 1600ms 1 both;
}
@media screen and (max-width: 390px) {
  .slider__undertitle {
    font-weight: 600;
    font-size: 12px;
    line-height: 2.5;
    letter-spacing: 0.02em;
    width: 270px;
    -webkit-animation: none;
            animation: none;
  }
}

.slider__list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (max-width: 767px) {
  .slider__list-box {
    display: none;
  }
}

.slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
  margin-bottom: 160px;
}

.slider__list-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.slider__list-item:nth-child(2)::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 50%;
  left: -100px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 60px;
  height: 1px;
  background-color: var(--footer-list);
}

.slider__list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: var(--footer-list);
}
.slider__list-link:hover, .slider__list-link:focus {
  color: var(--main-hover-color);
}

.price, .about, .features, .team, .gallery {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .price, .about, .features, .team, .gallery {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 767px) {
  .price, .about, .features, .team, .gallery {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}

@media screen and (max-width: 767px) {
  .information {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .information {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .information {
    padding-top: 130px;
    padding-bottom: 120px;
  }
}

.uppertitle {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: normal;
  text-transform: uppercase;
  color: var(--title-color);
}
.uppertitle::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: var(--deco-uppertitle-color);
}

.uppertitle--dark-theme {
  color: var(--dark-theme-price);
}
.uppertitle--dark-theme::before {
  background-color: var(--dark-theme-price);
}

.slider__uppertitle {
  color: rgba(157, 164, 189, 0.6);
}

.slider__uppertitle::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.uppertitle--white-theme {
  color: var(--title-white-theme);
}
.uppertitle--white-theme::before {
  background-color: var(--title-white-theme);
}

.title {
  margin-bottom: 20px;
  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: var(--title-color);
}

.title--white-theme {
  color: var(--title-white-theme);
}

.undertitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.undertitle--silver-theme {
  color: var(--contacts-list);
}

.btn {
  padding: 11px 19px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  min-width: 160px;
  max-width: 250px;
  color: var(--header-color);
  background-color: transparent;
  border: 1px solid var(--header-second-color);
  border-radius: 25px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.btn:hover, .btn:focus {
  background-color: var(--main-hover-color);
}

.header__logo {
  margin-right: 132px;
}
@media screen and (max-width: 768px) {
  .header__logo {
    margin-right: 0;
    padding-left: 5px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__logo {
    margin-right: 60px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
.header--transparent {
  background-color: rgba(25, 28, 38, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.header--transparent .logo {
  fill: var(--header-color);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}

.header__nav {
  margin-right: auto;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__list {
    gap: 16px;
  }
}

.nav__link {
  position: relative;
  display: block;
  padding: 52px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.1em;
  color: var(--header-color);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.nav__link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 30px;
  left: 5%;
  width: 90%;
  height: 4px;
  background-color: var(--main-hover-color);
  border-radius: 4px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  opacity: 0;
}
.nav__link--current {
  color: var(--header-second-color);
}
.nav__link--current::after {
  opacity: 1;
}
.nav__link:hover, .nav__link:focus {
  color: var(--main-hover-color);
}
.nav__link:hover::after, .nav__link:focus::after {
  opacity: 1;
}

.header__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
}
@media screen and (max-width: 768px) {
  .header__group {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__group {
    position: relative;
  }
}

.header__contact {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.1em;
  color: var(--header-color);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.header__contact:hover, .header__contact:focus {
  color: var(--main-hover-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contact {
    position: absolute;
    bottom: 0;
    right: 20px;
    -webkit-transform: translateY(32px);
            transform: translateY(32px);
  }
}
@media screen and (min-width: 1200px) {
  .header__contact {
    padding: 52px 0;
    margin-right: 40px;
  }
}

.hero {
  width: 100%;
  height: 300px;
  background-color: black;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.1785714286;
    letter-spacing: 0.05em;
  }
}
@media screen and (max-width: 767px) {
  .about__title {
    max-width: 306px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.1785714286;
    letter-spacing: 0.05em;
  }
}

@media screen and (max-width: 767px) {
  .about__undertitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.02em;
  }
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .about__list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__item {
  display: block;
  overflow: hidden;
}

.about__item:hover .about__img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.about__img {
  -webkit-transition: -webkit-transform 1000ms ease;
  transition: -webkit-transform 1000ms ease;
  transition: transform 1000ms ease;
  transition: transform 1000ms ease, -webkit-transform 1000ms ease;
}
.about__right-side {
  max-width: 470px;
}
@media screen and (max-width: 767px) {
  .about__right-side {
    max-width: 418px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about__right-side {
    max-width: 330px;
  }
}

.about__text {
  margin-top: 20px;
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8571428571;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .about__text {
    margin-bottom: 40px;
  }
}

.about__btn {
  color: var(--second-btn-color);
}
.about__btn:hover, .about__btn:focus {
  color: var(--header-color);
}

.price {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #111319;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/price/mob/img@1x.png);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .price {
    background-image: url(../images/price/mob/img@2x.png);
  }
}
@media screen and (min-width: 481px) {
  .price {
    background-image: url(../images/price/tab/img@1x.png);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .price {
    background-image: url(../images/price/tab/img@2x.png);
  }
}
@media screen and (min-width: 769px) {
  .price {
    background-image: url(../images/price/desk/img@1x.png);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .price {
    background-image: url(../images/price/desk/img@2x.png);
  }
}

.price__title {
  margin-bottom: 44px;
}
@media screen and (max-width: 767px) {
  .price__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.05em;
  }
}

.price__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .price__box {
    display: block;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
@media screen and (max-width: 767px) {
  .price__box {
    display: block;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

.price__box-setting {
  margin-bottom: 44px;
}

@media screen and (max-width: 767px) {
  .price__list {
    padding: 30px 20px 30px 40px;
  }
  .price__list--left {
    padding-bottom: 0;
  }
  .price__list--right {
    padding-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .price__list {
    padding: 32px 27px 32px 40px;
  }
  .price__list--left {
    padding-bottom: 0;
  }
  .price__list--right {
    padding-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .price__list {
    -ms-flex-preferred-size: 570px;
        flex-basis: 570px;
    padding: 30px 20px;
  }
  .price__list--left {
    background: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .price__list--right {
    background: -webkit-gradient(linear, left top, left bottom, from(#090B13), to(rgba(9, 11, 19, 0.2)));
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.price__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: var(--services-list);
}
.price__item::before {
  content: "";
  margin-left: 12px;
  margin-right: 12px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
  background-color: var(--deco-line-price);
}
@media screen and (max-width: 767px) {
  .price__item::before {
    margin-left: 4px;
    margin-right: 4px;
  }
}
@media screen and (max-width: 384px) {
  .price__item .price__text {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.8181818182;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 385px) and (max-width: 767px) {
  .price__item .price__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4285714286;
    letter-spacing: 0.02em;
  }
}
.price__item:not(:last-child) {
  margin-bottom: 20px;
}

.price__span {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
@media screen and (max-width: 302px) {
  .price__span {
    font-weight: 400;
    font-size: 8px;
    line-height: 2.5;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 303) and (max-width: 384px) {
  .price__span {
    font-weight: 400;
    font-size: 10px;
    line-height: 2;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 385px) and (max-width: 767px) {
  .price__span {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4285714286;
    letter-spacing: 0.02em;
  }
}

.price__btn {
  display: block;
  margin: 0 auto;
}

.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .features__container {
    gap: 44px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 44px;
  }
}
@media screen and (min-width: 1199px) {
  .features__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 130px;
  }
}

.features__box-up {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media screen and (max-width: 767px) {
  .features__box-up {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    max-width: 418px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__box-up {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
@media screen and (min-width: 1200px) {
  .features__box-up {
    padding-top: 9px;
    width: 500px;
  }
}

.features__title {
  max-width: 430px;
}
@media screen and (max-width: 294px) {
  .features__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .features__box-down {
    max-width: 416px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__box-down {
    max-width: 450px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .features__box-down {
    max-width: 370px;
  }
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 400px) {
  .features__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.features__item {
  width: 170px;
  padding: 20px 24px;
  background-color: var(--section-features-list);
  text-align: center;
  margin-bottom: 30px;
}
.features__item:nth-child(2n) {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 0;
}
@media screen and (max-width: 400px) {
  .features__item:nth-child(2n) {
    margin: 0;
  }
  .features__item:nth-child(2) {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .features__item {
    max-width: 193px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    width: 210px;
  }
}

.features__quantity {
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571428571;
  letter-spacing: 0.05em;
  color: var(--quantity-color);
}
.features__quantity::after {
  content: "+";
  position: absolute;
  top: 6px;
  display: inline-block;
  color: var(--quantity-deco-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: normal;
}

.features__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: normal;
  color: var(--quantity-color);
}

.team {
  background-color: var(--section-barbers-team);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__uppertitle {
    margin-left: 120px;
  }
}

.team__title {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__title {
    margin-left: 120px;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 64px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 64px;
  }
}
@media screen and (min-width: 1199px) {
  .team__list {
    gap: 30px;
  }
}

.team__item:hover .team__item-text, .team__item:focus .team__item-text {
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.team__box {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.team__item:hover .team__img {
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.team__item-text {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(110%);
          transform: translateY(110%);
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #fff;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item-text {
    -webkit-transform: translateY(140%);
            transform: translateY(140%);
  }
}

.team__item-box {
  padding-top: 30px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .team__item-box {
    max-width: 418px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item-box {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item-box {
    width: 370px;
  }
}

.team__name {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3888888889;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.team__position {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3571428571;
  letter-spacing: 0.02em;
  color: var(--team-position);
}

.team__list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: var(--main-background);
}
.team__link:hover .team__icon {
  fill: var(--main-hover-color);
}

.team__icon {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.gallery__uppertitle {
  margin-bottom: 44px;
}
@media screen and (max-width: 767px) {
  .gallery__uppertitle {
    margin-bottom: 71px;
  }
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .gallery__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.gallery__item {
  overflow: hidden;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transform: perspective(800px) rotateX(0deg) translateZ(0);
          transform: perspective(800px) rotateX(0deg) translateZ(0);
}
.gallery__item:hover {
  -webkit-transform: perspective(800px) rotateX(7deg) translate3d(0, -25px, 10px);
          transform: perspective(800px) rotateX(7deg) translate3d(0, -25px, 10px);
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery__item {
    width: 330px;
    height: 360px;
  }
}

.information {
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--section-form);
  background-repeat: no-repeat;
  background-image: url(../images/information/mob/img@1x.png);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .information {
    background-image: url(../images/information/mob/img@2x.png);
  }
}
@media screen and (max-width: 767px) {
  .information {
    background-position: bottom;
    background-size: 480px;
  }
}
@media screen and (min-width: 481px) {
  .information {
    background-image: url(../images/information/tab/img@1x.png);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .information {
    background-image: url(../images/information/tab/img@2x.png);
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .information {
    background-position: bottom center;
    background-size: 790px;
  }
}
@media screen and (min-width: 768px) {
  .information {
    background-position: bottom calc(50% - 300px) center;
    background-size: contain;
  }
}
@media screen and (min-width: 769px) {
  .information {
    background-image: url(../images/information/desktop/background@1x.png);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .information {
    background-image: url(../images/information/desktop/background@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .information {
    background-size: contain;
    background-position: left calc(50% + 580px) center;
  }
}

.information__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .information__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 168px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .information__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .information__container {
    gap: 30px;
  }
}

.information__title {
  margin-bottom: 40px;
}
@media screen and (max-width: 767) {
  .information__title {
    font-size: 22px;
  }
}

@media screen and (min-width: 1200px) {
  .form-box {
    -ms-flex-preferred-size: 570px;
        flex-basis: 570px;
  }
}

.information__title {
  margin-bottom: 44px;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .form__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 44px;
  }
}

.form__field {
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form__field {
    -ms-flex-preferred-size: 330px;
        flex-basis: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .form__field {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
  }
}

.information__group {
  margin-bottom: 44px;
}

.form__span {
  position: absolute;
  bottom: 8px;
  left: 0;
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.form__input {
  background-color: transparent;
  width: 100%;
  height: 24px;
  color: var(--title-white-theme);
  outline: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.form__input:focus {
  border-bottom: 1px solid var(--title-white-theme);
}
.form__input::-webkit-input-placeholder {
  opacity: 0;
}
.form__input::-moz-placeholder {
  opacity: 0;
}
.form__input:-ms-input-placeholder {
  opacity: 0;
}
.form__input::-ms-input-placeholder {
  opacity: 0;
}
.form__input::placeholder {
  opacity: 0;
}

.form__input:focus + .form__span {
  color: var(--title-white-theme);
  -webkit-transform: translateY(-25px) scale(0.8);
          transform: translateY(-25px) scale(0.8);
}

.form__input:not(:-moz-placeholder-shown) + .form__span {
  color: #ffffff;
  transform: translateY(-25px) scale(0.8);
}

.form__input:not(:-ms-input-placeholder) + .form__span {
  color: #ffffff;
  transform: translateY(-25px) scale(0.8);
}

.booking__form:focus + .form__span,
.form__input:not(:placeholder-shown) + .form__span {
  color: #ffffff;
  -webkit-transform: translateY(-25px) scale(0.8);
          transform: translateY(-25px) scale(0.8);
}

.form__message-box {
  margin-bottom: 44px;
}

.form__message {
  position: relative;
}

.form__textarea {
  background-color: transparent;
  width: 100%;
  height: 76px;
  resize: none;
  color: var(--title-white-theme);
  outline: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.form__textarea:focus {
  border-bottom: 1px solid var(--title-white-theme);
}
.form__textarea:not(:-moz-placeholder-shown) + .form__span-message {
  transform: translateY(-25px);
  color: var(--title-white-theme);
}
.form__textarea:not(:-ms-input-placeholder) + .form__span-message {
  transform: translateY(-25px);
  color: var(--title-white-theme);
}
.form__textarea:focus + .form__span-message, .form__textarea:not(:placeholder-shown) + .form__span-message {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  color: var(--title-white-theme);
}

.form__span-message {
  position: absolute;
  top: -56px;
  left: 0;
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    padding-left: 100px;
  }
}

@media screen and (max-width: 767px) {
  .information__list {
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .information__list {
    width: 290px;
  }
}
@media screen and (min-width: 1200px) {
  .information__list {
    margin-bottom: 70px;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: var(--contacts-list);
}
.contacts__link--map {
  font-weight: 700;
}

.contacts__icon-map {
  margin-top: 4px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.contacts__span {
  display: inline-block;
  width: 220px;
}

.contacts__span-mail {
  display: block;
  text-decoration: underline;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .information__title-box {
    margin-top: 93px;
  }
}

@media screen and (max-width: 767px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 44px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.02em;
  color: var(--footer-text);
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-top: 20px;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.footer__list::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: var(--footer-list);
}
@media screen and (max-width: 767px) {
  .footer__list {
    margin-left: auto;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.footer__link {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: var(--footer-list);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.footer__link:hover, .footer__link:focus {
  color: var(--main-hover-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__link {
    padding: 56px 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__link {
    padding: 56px 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition: opacity 150ms linear, visibility 150ms linear;
  transition: opacity 150ms linear, visibility 150ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 45px;
  width: 520px;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}
@media screen and (max-width: 767px) {
  .modal {
    padding: 20px;
    border-radius: 10px;
    width: 320px;
    overflow-y: scroll;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -65%);
          transform: translate(-50%, -65%);
}

.modal__close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  background-color: transparent;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgb(157, 164, 189);
  cursor: pointer;
}
.modal__close-btn:hover, .modal__close-btn:focus {
  fill: var(--form-deco);
  outline: transparent;
}
@media screen and (max-width: 767px) {
  .modal__close-btn {
    display: none;
  }
}

.modal__title {
  margin-bottom: 15px;
  text-align: center;
  font-weight: 600;
}

.modal__group {
  margin-bottom: 25px;
}
@media screen and (max-width: 518px) {
  .modal__group {
    margin-bottom: 10px;
  }
}

.modal__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.modal__label-last {
  margin-bottom: 40px;
}
.modal__label:focus-within:not([data-message], [data-payment]) {
  -webkit-box-shadow: 0 0 0 4px rgba(255, 108, 0, 0.25);
  box-shadow: 0 0 0 4px rgba(255, 108, 0, 0.25);
}
.modal__label:has(.modal__form-input:not(:-moz-placeholder-shown):valid) {
  -webkit-box-shadow: 0 0 0 4px rgba(6, 171, 99, 0.4);
  box-shadow: 0 0 0 4px rgba(6, 171, 99, 0.4);
}
.modal__label:has(.modal__form-input:not(:-ms-input-placeholder):valid) {
  -webkit-box-shadow: 0 0 0 4px rgba(6, 171, 99, 0.4);
  box-shadow: 0 0 0 4px rgba(6, 171, 99, 0.4);
}
.modal__label:has(.modal__form-input:not(:placeholder-shown):valid) {
  -webkit-box-shadow: 0 0 0 4px rgba(6, 171, 99, 0.4);
  box-shadow: 0 0 0 4px rgba(6, 171, 99, 0.4);
}
.modal__label:has(.modal__form-input:not(:-moz-placeholder-shown):invalid) {
  box-shadow: 0 0 0 4px rgba(220, 173, 53, 0.4);
}
.modal__label:has(.modal__form-input:not(:-ms-input-placeholder):invalid) {
  box-shadow: 0 0 0 4px rgba(220, 173, 53, 0.4);
}
.modal__label:has(.modal__form-input:not(:placeholder-shown):invalid) {
  -webkit-box-shadow: 0 0 0 4px rgba(220, 173, 53, 0.4);
          box-shadow: 0 0 0 4px rgba(220, 173, 53, 0.4);
}
@media screen and (max-width: 767px) {
  .modal__label {
    margin-bottom: 14px;
  }
}

.modal__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  background-color: var(--form-deco);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.modal__label-icon {
  fill: #FFFFFF;
}

.modal__form-input {
  padding: 18px 12px 8px;
  font-size: 14px;
  height: 48px;
  width: 382px;
  border-left: none;
  border: 1px solid var(--form-deco);
  border-radius: 0 6px 6px 0;
  outline: unset;
  cursor: default;
}
.modal__form-input:not(:-moz-placeholder-shown) + .modal__span {
  transform: translateY(-30%) scale(0.6);
}
.modal__form-input:not(:-ms-input-placeholder) + .modal__span {
  transform: translateY(-30%) scale(0.6);
}
.modal__form-input:focus + .modal__span, .modal__form-input:not(:placeholder-shown) + .modal__span {
  -webkit-transform: translateY(-30%) scale(0.6);
          transform: translateY(-30%) scale(0.6);
}
.modal__form-input::-webkit-input-placeholder {
  font-family: inherit;
  opacity: 0;
}
.modal__form-input::-moz-placeholder {
  font-family: inherit;
  opacity: 0;
}
.modal__form-input:-ms-input-placeholder {
  font-family: inherit;
  opacity: 0;
}
.modal__form-input::-ms-input-placeholder {
  font-family: inherit;
  opacity: 0;
}
.modal__form-input::placeholder {
  font-family: inherit;
  opacity: 0;
}
.modal__form-input:focus::-webkit-input-placeholder {
  opacity: 1;
}
.modal__form-input:focus::-moz-placeholder {
  opacity: 1;
}
.modal__form-input:focus:-ms-input-placeholder {
  opacity: 1;
}
.modal__form-input:focus::-ms-input-placeholder {
  opacity: 1;
}
.modal__form-input:focus::placeholder {
  opacity: 1;
}

.modal__span {
  position: absolute;
  bottom: 8px;
  left: 60px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.modal__input-icons {
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal__icon-warning {
  fill: #dcad35;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  opacity: 0;
}
.modal__form-input:not(:-moz-placeholder-shown):invalid:required ~ .modal__input-icons .modal__icon-warning {
  opacity: 1;
  transform: scale(1);
  transition-delay: 150ms;
}
.modal__form-input:not(:-ms-input-placeholder):invalid:required ~ .modal__input-icons .modal__icon-warning {
  opacity: 1;
  transform: scale(1);
  transition-delay: 150ms;
}
.modal__form-input:not(:placeholder-shown):invalid:required ~ .modal__input-icons .modal__icon-warning {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
}

.modal__icon-success {
  fill: #06ab63;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  opacity: 0;
}
.modal__form-input:not(:-moz-placeholder-shown):valid:required ~ .modal__input-icons .modal__icon-success {
  opacity: 1;
  transform: scale(1);
  transition-delay: 150ms;
}
.modal__form-input:not(:-ms-input-placeholder):valid:required ~ .modal__input-icons .modal__icon-success {
  opacity: 1;
  transform: scale(1);
  transition-delay: 150ms;
}
.modal__form-input:not(:placeholder-shown):valid:required ~ .modal__input-icons .modal__icon-success {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
}

.modal__info {
  position: absolute;
  bottom: 0;
  left: 4px;
  font-size: 8px;
  color: #dcad35;
  -webkit-transition: 200ms;
  transition: 200ms;
  opacity: 0;
}

.modal__form-input:not(:-moz-placeholder-shown):invalid:required ~ .modal__info {
  opacity: 1;
  transform: translateY(105%) scale(1);
}

.modal__form-input:not(:-ms-input-placeholder):invalid:required ~ .modal__info {
  opacity: 1;
  transform: translateY(105%) scale(1);
}

.modal__form-input:not(:placeholder-shown):invalid:required ~ .modal__info {
  opacity: 1;
  -webkit-transform: translateY(105%) scale(1);
          transform: translateY(105%) scale(1);
}

.modal__comment {
  display: block;
  position: relative;
}

.modal__message {
  display: block;
  width: 100%;
  height: 140px;
  border: 1px solid var(--form-deco);
  outline: transparent;
  padding: 18px 12px;
  resize: none;
  cursor: default;
  border-radius: 6px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.modal__message:not(:-moz-placeholder-shown) + .modal__span-comment {
  transform: translateY(-35px) scale(0.8);
  transform-origin: left;
}
.modal__message:not(:-ms-input-placeholder) + .modal__span-comment {
  transform: translateY(-35px) scale(0.8);
  transform-origin: left;
}
.modal__message:focus + .modal__span-comment, .modal__message:not(:placeholder-shown) + .modal__span-comment {
  -webkit-transform: translateY(-35px) scale(0.8);
          transform: translateY(-35px) scale(0.8);
  -webkit-transform-origin: left;
          transform-origin: left;
}
.modal__message:focus-within:not([data-message], [data-payment]) {
  -webkit-box-shadow: 0 0 0 4px rgba(255, 108, 0, 0.25);
  box-shadow: 0 0 0 4px rgba(255, 108, 0, 0.25);
}
@media screen and (max-width: 767px) {
  .modal__message {
    height: 80px;
  }
}

.modal__span-comment {
  display: block;
  position: absolute;
  top: 18px;
  left: 12px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #FFFFFF;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.modal__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.modal__field:not(:last-child) {
  padding-bottom: 10px;
}
.modal__field:not(:last-child)::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(25%, #ff6c00), color-stop(75%, #ff6c00), to(transparent));
  background-image: linear-gradient(to right, transparent, #ff6c00 25%, #ff6c00 75%, transparent);
}

.modal__payment-icon {
  fill: #959595;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.modal__payment:checked + .modal__payment-icon {
  fill: var(--form-deco);
}
.modal__payment:checked ~ .modal__payment-text-up::after {
  opacity: 1;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
}

.modal__payment-text-up {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(normal / 14px);
  letter-spacing: normal;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.modal__payment-text-up::after {
  display: inline-block;
  content: "Default";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transform: translateY(-50%) scale(0);
          transform: translateY(-50%) scale(0);
  padding: 2px 12px;
  font-size: 8px;
  color: var(--title-white-theme);
  border-radius: 6px;
  background-color: var(--form-deco);
  opacity: 0;
}
@media screen and (max-width: 767px) {
  .modal__payment-text-up::after {
    top: 60%;
  }
}

.modal__payment-text-down {
  display: block;
  font-weight: 400;
  color: #959595;
}

.modal__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
  cursor: default;
}

.modal__agree-input:checked + .modal__agree-icon .modal__icon-checked {
  opacity: 1;
}
.modal__agree-input:checked + .modal__agree-icon .modal__icon-unchecked {
  opacity: 0;
}

.modal__icon-unchecked {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.modal__icon-checked {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .modal__agree-span {
    font-weight: 700;
    font-size: 11px;
    line-height: calc(normal / 11px);
    letter-spacing: normal;
  }
}

.modal__agree-link {
  color: var(--main-hover-color);
}
@media screen and (max-width: 767px) {
  .modal__agree-link {
    font-weight: 400;
    font-size: 11px;
    line-height: calc(normal / 11px);
    letter-spacing: normal;
  }
}

.modal__btn {
  display: block;
  margin: 0 auto;
  color: black;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 70vw;
  height: 100vh;
  padding: 32px;
  padding-left: 40px;
  background-color: var(--header-color);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
@media screen and (max-width: 360px) {
  .menu-container {
    width: 100vw;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 48px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  padding: 0;
  padding-top: 86px;
  margin: 0;
  margin-bottom: 64px;
  list-style: none;
}

.mobile-menu__link {
  display: block;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3888888889;
  letter-spacing: 0.1em;
  color: var(--title-color);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--main-hover-color);
}

.mobile__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  margin-bottom: 64px;
}

.mobile__contact {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3888888889;
  letter-spacing: 0.01em;
  color: var(--title-color);
}
.mobile__contact:hover, .mobile__contact:focus {
  color: var(--main-hover-color);
}

.mobile__btn {
  width: 194px;
  color: var(--title-color);
}
.mobile__btn:hover, .mobile__btn:focus {
  color: var(--header-color);
}

.mobile__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.mobile__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.mobile__item:nth-child(1)::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--title-color);
}
.mobile__item:nth-child(2) {
  margin-left: 100px;
}

.mobile__link {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3571428571;
  letter-spacing: 0.2em;
  color: var(--title-color);
}
.mobile__link:hover, .mobile__link:focus {
  color: var(--main-hover-color);
}

.modal-menu__close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  background-color: transparent;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgb(157, 164, 189);
  cursor: pointer;
}
.modal-menu__close-btn:hover, .modal-menu__close-btn:focus {
  fill: var(--form-deco);
  outline: transparent;
}
@media screen and (min-width: 768px) {
  .modal-menu__close-btn {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */