:root {

  // fonts 
  --main-font:'Open Sans', sans-serif;
  --additional-font:'Raleway', sans-serif;

  // color
  --header-color: #FFFFFF;
  --hero-title: #FFFFFF;
  
  --title-color: #303030;

  --text-color: #555555;

  --services-list: #9DA4BD;
  --contacts-list: #9DA4BD;
  --footer-text: #9DA4BD;
  --slider-undertext: #9DA4BD;

  // background
  --main-background: #FFFFFF;

  --section-form: #191C26;

  --section-features-list: #F7F7F7;
  --section-barbers-team: #F7F7F7;

  // additional
  --deco-line-price: rgba(157, 164, 189, 0.12);
  --dark-theme-price: rgba(157, 164, 189, 0.6);

  --title-white-theme: #FFFFFF;

  --deco-uppertitle-color: #303030;
  --second-btn-color: #303030;
  --quantity-color: #303030;
  --footer-list: #303030;

  --form-deco: #FF6C00;
  --header-second-color: #FF6C00;
  --main-hover-color: #FF6C00;
  --team-position: #FF6C00;
  --quantity-deco-color: #FF6C00;
  --team-position: #FF6C00;
}